<nav class="navbar navbar-toggleable-xs">
    <mat-toolbar color="primary" class="navi-css">
      <span class="navbar-spacer"></span>
     
  
      <span class="navbar-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true" class="nav-linkbtn-css">
        <button mat-button class="logo-css" ><img mat-card-image src="assets/images/logo.png"  alt="Birko" ></button>
        <button mat-button routerLink="/dashboard/user"  routerLinkActive="mat-accent" >BIRKO USER</button>
        <button mat-button routerLink="/dashboard/customer" routerLinkActive="active">CUSTOMERS</button>
        <button mat-button routerLink="/dashboard/documents">ALL DOCUMENTS</button>
        <button mat-button routerLink="/dashboard/event-logs">EVENT LOGS</button>      
      </div>
      <span class="username-css" align="end">
        <span class="profile-css" >
          Prasanth  kumar
        </span>
        <span class="role-name-css">
          Admin
        </span>
      </span>
      <button mat-icon-button class="example-icon profile-list-css"  [matMenuTriggerFor]="menu">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item  (click)="openDialog()">
          <!-- <mat-icon>dialpad</mat-icon> -->
          <span>View Profile</span>
        </button>
        <button mat-menu-item >
          <!-- <mat-icon>voicemail</mat-icon> -->
          <span>My Event Logs</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
    </nav>