<div class ="home-css">
    <img class= "home-img"  src='assets/images/background.png'>
  </div>
<div class="login-main" *ngIf="hideStatus" >
  <div class="logo-css">
    <img class="img-css" src="assets/images/logo.png" />
    <div class="login-lable"> Forgot Password</div>
    <p class="hint-css">Please enter your email address to receive a link to set a new password.</p>
  </div>  
  <mat-card  class="login-css" fxLayout="column" >
    <form [formGroup]="loginForm" class="form-css" (ngSubmit)="onSubmit()" >
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="name@example.com" formControlName="email" class="form-control" >
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions  align="end" class ="cancel-css">
        <a mat-button  href="/login" >CANCEL</a>
         <button mat-raised-button  class="primary-btn-color">SUBMIT</button>
      </mat-card-actions>
    </form>
    </mat-card> 
</div>
<div *ngIf="successStatus">
  <app-success ></app-success>
</div>